/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;

}

.img-navbar {
  margin-left: 50px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* NAVBAR */

.top-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.top-text {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: .3rem;
  font-weight: 700;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.top-container.slide-up {
  animation: slideUp 0.3s forwards;
}

/* NAVBAR END */

/* FOOTER */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #0d0d0d;
}

.f-socialmedia {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #191919;
}

.f-socialmedia img {
  margin-left: 20px;
}

.f-space {
  border-top: 1px solid #333333;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #191919;
  color: #191919;
}

.f-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0d0d0d;
  color: #8c8c8c;
  padding: 1rem 1rem 1rem 3rem;
  font-size: large;
}

.f-branch {
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
}

.f-branch img {
  margin-right: 15px;
}


/* FOOTER END*/
@media (max-width: 768px) {
  .img-navbar {
    margin: 0 !important;
  }

  .body-tittle {
    font-size: small;
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .f-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .f-text {
    width: 75%;
    display: flex;
    justify-content: center;
  }

}

@media (min-width: 1440px) {
  .f-branch img {
    margin-left: 80px;
  }
}