<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bose Store - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/boseapp.styles.css" asp-append-version="true" />
</head>

<body style="height: 100%; margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
    <header>
        <div class="top-container">
            <p class=" top-text">Bienvenido a mi proyecto de PROGRAMACIÓN</p>
            <div class="top-closeArea">
                <a class="delete-sign"><img width="24" height="24"
                        src="https://img.icons8.com/material-rounded/24/delete-sign.png" alt="delete-sign" /></a>
            </div>
        </div>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow"
            style="background:#191919">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://firebasestorage.googleapis.com/v0/b/boseapp.appspot.com/o/bose_logo_white.png?alt=media&token=1bdfe212-6d26-4c88-a630-891031400905"
                        alt="Bootstrap" width="100" height="100" class="img-navbar">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" style="background:#191919" tabindex="-1"
                    id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-light" id="offcanvasDarkNavbarLabel">Menú</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fs-5">
                            <li class="nav-item">
                                <a class="nav-link text-light " aria-current="page" asp-area="" asp-controller="Home"
                                    asp-action="Index">Inicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Catalogo"
                                    asp-action="Index">Catalogo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Contacto"
                                    asp-action="Index">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Carrito"
                                    asp-action="Index">Carrito</a>
                            </li>
                            <partial name="_MenuAdminPartial" />
                        </ul>
                        <partial name="_LoginPartial" />

                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top" style="margin-top: auto;">
        <div class="f-socialmedia">
            <a href="https://www.facebook.com/Bose" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=106163&format=png&color=888888" alt="facebook_bose"
                    style="width: 2rem;">
            </a>
            <a href="https://x.com/bose?lang=es" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=888888" alt="x_bose"
                    style="width: 2rem;">
            </a>
            <a href="https://www.youtube.com/user/bose" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=NgVx6SS0Wbjb&format=png&color=888888" alt="youtube_bose"
                    style="width: 2rem;">
            </a>
            <a href="https://www.instagram.com/bose/" target="_blank">
                <img src="https://img.icons8.com/?size=100&id=8831&format=png&color=888888" alt="instagram_bose"
                    style="width: 2rem;">
            </a>

        </div>
        <div class="f-space">
            <p> BOSE </p>
        </div>
        <div class="f-menu" style="height: auto;">
            <p style="margin: 0;">Inicio</p>
            <p style="margin: 0;">Contacto</p>
            <p style="margin: 0;">Catalogo</p>
            <p style="margin: 0;">Ofertas</p>
        </div>
        <div class="f-branch">
            <img src="https://firebasestorage.googleapis.com/v0/b/boseapp.appspot.com/o/bose_logo_white.png?alt=media&token=1bdfe212-6d26-4c88-a630-891031400905"
                alt="logo" width="100" height="100">
            <p style="font-size: small;"> &copy; Bose Corporation 2024 - PROYECTO FINAL</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButton = document.querySelector('.delete-sign');
        const topContainer = document.querySelector('.top-container');

        // Check localStorage to see if the container should be hidden
        if (localStorage.getItem('topContainerHidden') === 'true') {
            topContainer.style.display = 'none';
        }

        deleteButton.addEventListener('click', function () {
            topContainer.classList.add('slide-up');
            topContainer.addEventListener('animationend', function () {
                topContainer.style.display = 'none';
                localStorage.setItem('topContainerHidden', 'true');
            });
        });
        window.addEventListener('beforeunload', function (event) {
            if (event.persisted || (performance.navigation && performance.navigation.type === 1)) {
                localStorage.removeItem('topContainerHidden');
            }
        });
    });
</script>

</html>
