/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;

}

.img-navbar {
  margin-left: 50px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* NAVBAR */

.top-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.top-text {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: .3rem;
  font-weight: 700;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.top-container.slide-up {
  animation: slideUp 0.3s forwards;
}

/* NAVBAR END */

/* BANNER */

.carousel {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.btn {
  border-radius: 150px;
}

/* BANNER END */

/* BODY */


/* BODY END*/

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* FOOTER END*/
@media (max-width: 768px) {
  .img-navbar {
    margin: 0 !important;
  }

  .body-tittle {
    font-size: small;
    margin-left: 20px;
  }
}