@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;

@inject SignInManager<UserCliente> SignInManager
@inject UserManager<UserCliente> UserManager

@if (SignInManager.IsSignedIn(User))
{
    UserCliente? identity = await UserManager.GetUserAsync(User);


    if (identity != null)
    {
        var roles = await Task.Run(() => UserManager.GetRolesAsync(identity));

        if (roles.Contains("admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light bi bi-cart" asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light bi bi-cart" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
            </li>
        }
    }

}