@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css">
</head>

<body>
    <!-- Mantén el mismo header y sidebar que tienes en Index.cshtml -->
    <div class="app-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">Bienvenido al Panel de Mensajes</h1>
        </div>
        <!-- Agrega aquí el contenido de tu dashboard inicial -->
    </div>
</body>

</html>