@model IEnumerable<boseapp.Models.Carrito>

@{
    ViewData["Title"] = "Carrito";
}


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Producto != null)
                    {
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Producto.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>