/* home.css */

/* BANNER */

.carousel {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.c-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.c-text {
    font-size: 0.6rem;
}

/* BANNER END */

/* BODY */

.body-tittle {
    font-size: large;
    display: flex;
    width: 100%;
    padding-left: 2rem;
    font-weight: bold;
}

.body-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-colum {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    transition-duration: 0.3s;

}

.card-colum:hover {
    -webkit-box-shadow: -10px 10px 10px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: -10px 10px 10px -15px rgba(0, 0, 0, 1);
    box-shadow: -10px 10px 10px -15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    width: 11rem;
}

.card-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.card-body a {
    font-size: 0.7rem;
}

/*FEATURED*/
.prod-card img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.prod-card {
    width: 100%;
}

/*FEATURED END*/

/*VIDEO BODY */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#video-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    font-family: sans-serif;
    background-size: cover;
}

.videos,
.video-item,
.video-wrapper,
.black-shadow,
video {
    width: 100%;
    height: 100%;
}

.video-wrapper {
    overflow: hidden;
}

video {
    object-fit: cover;
}

.hero-desc {
    width: 90%;
    height: fit-content;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
}

.hero-desc h1 {
    font-weight: 700;
    display: flex;
}

.hero-desc p {
    max-width: 60%;
    font-size: 1rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.hero-desc:hover p {
    animation-fill-mode: forwards;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    max-width: 80%;
}

.desc-shadow {
    width: 50%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    box-shadow: 50px -75px 90px 50px #0000006c;
}

.black-shadow {
    bottom: 0;
    left: 0;
    background-color: #0000007d;
    opacity: 0;
    transition-timing-function: linear;
    transition: all 0.2s ease-in-out;
}

.video-item:hover .black-shadow {
    opacity: 0.7;
}


@media(min-width: 430px) {
    .card {
        width: 13rem;
    }

    .card-body a {
        font-size: 0.9rem;
    }
}

@media(min-width: 768px) {
    .card {
        width: 10rem;
    }

    .card-title {
        font-size: 0.8rem;
    }

    .prodcontainer {
        display: flex;
        justify-content: center;
    }

    .prod-card {
        width: 90%;
    }

    .prod-card img {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .prod-card-text {
        height: 180px;
    }

    .desc-shadow {
        width: 50%;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        box-shadow: 70px -90px 110px 70px #0000006b;
    }
}

@media(min-width: 1440px) {
    .card {
        width: 20rem;
    }

    .card-body a {
        font-size: 1.2rem;
        margin: 10px;
    }

    .card-title {
        font-size: 1.2rem;
        height: 3rem;
    }

    .card-content {
        position: absolute;
        z-index: 12000;
        bottom: 8px;
        left: 16px;
    }

    .prod-card::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(0, 0, 0);
        background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 10000;
    }

    .card-header {
        font-size: 30px;
    }

    .prodcontainer {
        flex-direction: column;
        align-items: center;
    }

    .prod-card {
        margin-bottom: 1rem;
        position: relative;
        height: 900px;
    }

    .prod-card img {
        width: 100%;
        height: 900px;
        object-fit: cover;
        object-position: 0px 20%;
    }
}