.form-container h1 {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.logspan {
    font-size: 8px;
}

.forgetpass {
    color: #333;
    font-size: 10px;
    width: 100%;
    text-decoration: none;
    margin: 15px 0;
}

.containerds {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 370px;
    margin: 5rem 0;
}

.containerds h1 {
    margin-bottom: 1rem;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 11px;
}

.containerds button {
    border-radius: 20px;
    border: 1px solid #858383;
    background: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.containerds button:active {
    transform: scale(.95);
}

.containerds button:focus {
    outline: none;
}

.containerds button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
    overflow-y: auto;
    padding: 5px;
}

.reg-input {
    height: 30px !important;

}

.form-floating label {
    font-size: 10px;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel img {
    width: 130px;
}

.overlay-panel p {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: .5px;
    margin: 20px 0 55px;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.containerds.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.containerds.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.containerds.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.containerds.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.containerds.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.containerds.right-panel-active .overlay-right {
    transform: translateY(20%);
}

@media(min-width: 430px) {}

@media(min-width: 768px) {
    .form-container h1 {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 30px;
    }

    .forgetpass {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    .containerds {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        margin: 5rem 0;
    }


    .containerds button {
        border-radius: 20px;
        border: 1px solid #858383;
        background: linear-gradient(to right, #434343 0%, black 100%);
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    .overlay-panel p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: .5px;
        margin: 20px 0 30px;
    }

    .form-container form {
        padding: 0 45px;
    }

    .form-container input {
        font-size: 15px;
    }

    .overlay-panel img {
        width: 200px;
    }

    #registerForm h1 {
        font-size: 30px;
    }

    .reg-input {
        height: 40px !important;
        margin: 8px !important;

    }

    .form-floating label {
        font-size: 15px;
    }

    .logspan {
        font-size: 15px;
    }
}

@media(min-width: 1440px) {
    .overlay-panel img {
        width: 250px;
    }
}