@{
    Layout = null;
    ViewData["Title"] = "Error";
}
<div style="display:flex; justify-content: center; margin-top: 100px;">
    <img src="https://firebasestorage.googleapis.com/v0/b/boseapp.appspot.com/o/bose_mobile_logo.png?alt=media&token=2e9e26ba-9574-4b05-88ed-79469b67f5de"
        alt="bose_logo">
</div>

<p class="errorP">HTTP: <span>404</span></p>
<code><span>this_page</span>.<em>not_found</em> = true;</code>
<code><span>if</span> (<b>you_spelt_it_wrong</b>) {<span>try_again()</span>;}</code>
<code><span>else if (<b>we_screwed_up</b>)</span> {<em>alert</em>(<i>"We're really sorry about that."</i>); <span>window</span>.<em>location</em> = home;}</code>
<center><a class="errorHome" href="/">HOME</a></center>
<div id="bcl"></div>

<link rel="stylesheet" href="~/css/error404.css" />


<script src="~/js/error404.js"></script>